xml/globalSimil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="GlobalSimType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="ClassName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GlobalSimilaritiesType">
		<xs:sequence>
			<xs:element ref="GlobalSim" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GlobalSimilarities" type="GlobalSimilaritiesType"/>
	<xs:element name="GlobalSim" type="GlobalSimType"/>
</xs:schema>
